*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: "font-ff-spartan-medium";
  src: url("../src/assets/font-style/static/LeagueSpartan-Medium.ttf");
}

@font-face {
  font-family: "font-ff-spartan-bold";
  src: url("../src/assets/font-style/static/LeagueSpartan-Bold.ttf");
}

:root {
  --desaturated-dark-cyan: hsl(180, 29%, 50%);
  --light-grayish-cyan-back: hsl(180, 52%, 96%);
  --light-grayish-cyan-filter: hsl(180, 31%, 95%);
  --dark-grayish-cyan: hsl(180, 8%, 52%);
  --very-dark-grayish-cyan: hsl(180, 14%, 20%);
  --white: white;
  --font-fz-1: 1.5rem;
  --font-ff-spartan-medium: "font-ff-spartan-medium";
  --font-ff-spartan-bold: "font-ff-spartan-bold";
}

body {
  border: 2px solid var(--desaturated-dark-cyan);
  font-size: var(--font-fz-1);
  font-family: var(--font-ff-spartan-medium);
  background-color: var(--light-grayish-cyan-back);
}

.app {
  min-height: 100vh;
}

.job-company-profile {
  padding: 0 2.3rem 0;
  background-color: var(--white);
  /* max-width: 41rem; */
  margin: 3rem auto 0;
}

.job-company-profile__company-logo {
  width: 4.8rem;
  height: 4.8rem;
  transform: translateY(-50%);
}

.job-company-profile__company-name {
  font-size: 1.6rem;
  letter-spacing: 0.6px;
  color: var(--desaturated-dark-cyan);
  margin-right: 2.4rem;
}

.job-company-profile__details {
  margin-top: -15px;
  border-bottom: 1px solid var(--dark-grayish-cyan);
  padding-bottom: 2rem;
}

.job-company-profile__status {
  padding: 0.6rem 0.9rem;
  font-family: var(--font-ff-spartan-bold);
  background-color: var(--desaturated-dark-cyan);
  color: var(--white);
  text-transform: uppercase;
  border-radius: 20px;
}

.job-company-profile__status + .job-company-profile__status {
  margin-left: 0.8rem;
}

.job-company-profile__status--featured {
  background-color: var(--very-dark-grayish-cyan);
}

.job-company-profile__header {
  display: flex;
  align-items: center;
}

.job-company-profile__position {
  margin: 1.4rem 0 1.7rem;
  font-size: 1.7rem;
  color: var(--very-dark-grayish-cyan);
}

.job-company-profile__post-timeline {
  display: flex;
}

.job-company-profile__meta {
  color: var(--dark-grayish-cyan);
}

.job-company-profile__meta + .job-company-profile__meta {
  margin-left: 1rem;
}

.job-company-profile__meta strong {
  margin-right: 0.9rem;
}

/* utility class */
.hidden {
  display: none;
}

.box-shadow {
  box-shadow: hsla(180, 29%, 50%, 0.1) 0px 20px 25px -5px,
    hsla(180, 29%, 50%, 0.04) 0px 10px 10px -5px;
}

/* ======= Filters section ======= */
.filters {
  width: 100%;
  background-color: var(--white);
  padding: 2rem;
  border-radius: 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
  gap: 1.6rem;
}

.filters__active {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  flex-wrap: wrap;
}

.filters__active__item {
  color: var(--desaturated-dark-cyan);
  border-radius: 0.4rem;
  display: inline-block;
  /* padding: 0.4rem 0.8rem; */
  background-color: var(--light-grayish-cyan-filter);
  display: flex;
  align-items: center;
  gap: 0.8rem;
  overflow: hidden;
}
.filters__active__item > span {
  padding: 0.8rem 0 0.8rem 0.8rem;
}

.filters__active__item__remove {
  cursor: pointer;
  background-color: var(--desaturated-dark-cyan);
  border: none;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  display: flex;
  align-items: center;
  padding: 0.8rem;
  transition: all 0.2s ease-in-out;
}

.filters__active__item__remove:hover {
  background-color: var(--very-dark-grayish-cyan);
}

.filters__action__clear {
  background-color: unset;
  border: none;
  cursor: pointer;
  color: var(--dark-grayish-cyan);
  font-weight: 700;
  font-family: inherit;
  transition: all 0.2s ease-in-out;
}

.filters__action__clear:hover {
  color: var(--desaturated-dark-cyan);
  text-decoration: underline;
  text-decoration-color: inherit;
}

@media (min-width: 40rem) {
  .job-company-profile {
    display: flex;
    padding: 3.2rem 2.3rem 0;
  }

  .job-company-profile__company-logo {
    transform: translateY(0);
    width: 6.8rem;
    height: 6.8rem;
    margin-right: 2.3rem;
  }

  .job-company-profile__details {
    margin-top: 0;
    border-bottom: 0;
  }

  .job-company-profile__position {
    margin: 1.6rem 0 1.4rem;
  }
}

@media (min-width: 80rem) {
  .job-company-profile {
    display: flex;
    padding: 3.2rem 4rem 0;
  }

  .job-company-profile__company-logo {
    width: 7.8rem;
    height: 7.8rem;
  }

  .job-company-profile__meta strong {
    margin-right: 1.4rem;
  }

  .job-company-profile__position {
    font-size: 2.2rem;
    margin: 1.7rem 0 1.5rem;
  }

  .job-company-profile__meta {
    font-size: 1.7rem;
  }

  .job-company-profile__meta + .job-company-profile__meta {
    margin-left: 1.9rem;
  }
}
